.mapTitle {
    width: 270px;
    font-size: 15px;
    color: #777777;
    font-family: "Lato", sans-serif;
    padding: 1px 14px;
    background-color: rgba(235, 235, 230, 0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid grey;
}